.filter-section {
    padding: 4rem 16rem;

    @media(max-width: 1350px) {
        padding: 4rem 10rem;
    }

    @media(max-width: 1000px) {
        padding: 4rem 6rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        @media (max-width: 991px) {
            margin-bottom: 1rem!important;
        }

        & label {
            margin-bottom: .5rem;
        }
    }

    & .row:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

.m-b-1 {
    margin-bottom: 1.4rem;
    @media (max-width: 991px) {
        margin-bottom: 0;
    }
}

.table-section {
    margin-top: 2rem;
}
