<div class="filter-section">
    <form [formGroup]="formData"
          (ngSubmit)="searchData()">
        <div class="row">
            <div class="filter-section__item m-b-1 col-lg-4 col-sm-6">
                <label class="fw-bold">Rama</label>
                <select class="form-select"
                        formControlName="rama">
                    <option value="0">Todas</option>
                    <option *ngFor="let rama of ramasData" [value]="rama.nroRama">{{ rama.Rama }}</option>
                </select>
            </div>
            <div class="filter-section__item m-b-1 col-lg-4 col-sm-6">
                <label class="fw-bold">Siniestro</label>
                <input class="form-control" 
                       type="text"
                       formControlName="siniestro">
            </div>
            <div class="filter-section__item m-b-1 col-lg-4 col-sm-6">
                <label class="fw-bold">Póliza</label>
                <input class="form-control" 
                       type="text"
                       formControlName="poliza">
            </div>
            <div class="filter-section__item col-lg-4 col-sm-6">
                <label class="fw-bold">Riesgo / Patente</label>
                <input class="form-control" 
                       type="text"
                       formControlName="riesgo">
            </div>
            <div class="filter-section__item col-lg-4 col-sm-6">
                <label class="fw-bold">Socio</label>
                <input class="form-control" 
                       type="text"
                       formControlName="socio">
            </div>
            <div class="filter-section__item col-lg-4 col-sm-6">
                <label class="fw-bold">Nro. referencia</label>
                <input class="form-control" 
                       type="text"
                       formControlName="nroReferencia">
            </div>
        </div>
        <div class="row">
            <div class="filter-section__item--buttons col-lg-4 col-sm-6">
                <button class="btn btn-primary me-3"
                        type="submit">Buscar</button>
                <button class="btn btn-outline-secondary"
                        type="button"
                        (click)="this.formData.reset()">Limpiar</button>
            </div>
        </div>
    </form>

    <div class="table-section">
        <app-table [tableData]="dataSiniestros" [displayedColumns]="displayedColumns"></app-table>
    </div>

    <div class="card-section">

    </div>

</div>